<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044629755773-7njgb18b0rppsbe64ie2l3f0u112p8s4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044629755773-7njgb18b0rppsbe64ie2l3f0u112p8s4</string>
	<key>API_KEY</key>
	<string>AIzaSyBkE-orhwUSfMEBvTh1hYWLWBq0-K8Q3kU</string>
	<key>GCM_SENDER_ID</key>
	<string>1044629755773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apktestproject</string>
	<key>PROJECT_ID</key>
	<string>study-buddy-6443c</string>
	<key>STORAGE_BUCKET</key>
	<string>study-buddy-6443c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044629755773:ios:93330f056ee4bf2b975e14</string>
</dict>
</plist>